{% extends "base.html" %}
{% load tailwind_filters %}
{% block content %} 

    <div class="text-gray-600 container py-10 mx-auto flex flex-wrap items-center">
        <div class="bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
            <form id="task-form" method="post">
            {% csrf_token %}
                <div class="relative mb-4">
                    {{form.title|as_crispy_field}}
                </div>
                <div class="relative mb-4">
                    {{form.description|as_crispy_field}} 
                </div>  
                {% if flag == "UpdateTask" %} 
                    <button id="submitu" type="submitu" class="mr-auto float-right text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Update task</button>
                {% else %}
                    <button id="submit" type="submit" data-url="{% url 'create-task' %}" data-urlu="{% url 'update-task' 2 %}" data-urld="{% url 'delete-task' 3 %}" class="mr-auto float-right text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Add task</button>
                {% endif %}

            </form>
        </div>
    </div>

    <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
            <table class="min-w-full divide-y divide-gray-200" id="my_tasks">
            <thead class="bg-gray-50">
                <tr>
                <th scope="col" class="w-1/6 px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Status
                </th>
                <th scope="col" class="w-4/6 px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Title
                </th>
                <th scope="col" class="w-1/6 px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Actions
                </th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200" data-unchecked="{% url 'selected-task' 4 %}">
                {% for task in tasks %}
                    <tr class="row" >
                        <td class="px-6 py-4 whitespace-nowrap text-center">
                            <div class="flex items-center">
                                <div class="flex-shrink-0 h-10 w-10">
                                    {% if task.is_done %}
                                    <label class="inline-flex items-center mt-3">
                                            <input class="checked" type="checkbox" name="checkbox" data-url="{% url 'unselected-task' task.pk %}" class="form-checkbox h-5 w-5 text-green-600">
                                    </label>                                    
                                    {% else %}
                                    <label class="inline-flex items-center mt-3">
                                            <input class="unchecked" type="checkbox" name="checkbox"  data-url="{% url 'selected-task' task.pk %}" class="form-checkbox h-5 w-5 text-green-600" >
                                    </label>
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <div class="text-sm text-gray-900">{{task.title}}</div>
                            <div class="text-sm text-gray-500">
                                {{task.description}}
                            </div>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                            <div class="flex item-center justify-left">
                                <a href="{% url 'update-task' task.pk %}">
                                    <div class="w-4 mr-2 transform hover:text-blue-500 hover:scale-110">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                        </svg>
                                    </div>
                                </a>
                                <a href="{% url 'delete-task' task.pk %}">
                                    <div class="w-4 mr-2 transform hover:text-blue-500 hover:scale-110">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                        </svg>
                                    </div>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
        </div>
    </div>
    </div>
{% endblock content %}